<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head> <!--JSS to enable the change language functionality-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>
</head>
<body>
<!--Show either Login or Username logout-->
<div layout:fragment="content">
    <div class="page-header">
        <form sec:authorize="authenticated"
              action="/logout" class="pull-right" method="post">
            <button type="submit" class="btn btn-xs btn-link">
                <span th:text="${#httpServletRequest.remoteUser} + ' ' + #{logout}"/>
            </button>
        </form>
        <a sec:authorize="anonymous" href="/login" class="pull-right" th:text="#{tologin}"></a>
        <h1 th:text="#{headerstart}"></h1>
    </div>

    <!--Search for a particular stage in all published journeys and the User's journeys-->
    <form action="/journeys" method="get" class="form-inline">
        <div class="form-group">
            <input name="search" type="text" placeholder="Melbourne, Santiago,..." class="form-control" th:value="${search}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" th:text="#{tosearch}"></button>
        </div>
        <div class="form-group help">
            <span th:text="#{tosearchdescription}"></span>
        </div>
    </form>

    <hr/>

    <!--Show the User's journeys (if User is signed in)-->
    <h2 sec:authorize="authenticated" th:text="#{yourjourneys}"></h2>
    <ul class="list-unstyled">
        <li th:each="journey : ${journeys}">
            <a th:if="${journey.ownedByCurrentUser}" th:href="${'/journeys/' + journey.id}" th:text="${journey.name}"></a>
        </li>
    </ul>
    <!--Show the total kilometers of all the User's journeys (if User is signed in and is not using the search functionality)-->
    <div th:if="${totalKilometers > 0 && search == null}" sec:authorize="authenticated">
        <strong th:text="#{totaldistance1} + ${#numbers.formatDecimal(totalKilometers, 1, 1)} + ' ' + #{totaldistance2}"></strong>
    </div>

    <hr/>

    <!--Show the all published journeys so far-->
    <h2 th:text="#{publishedjourneys}"></h2>
    <ul class="list-unstyled">
        <li th:each="journey : ${journeys}">
            <a th:if="${journey.isForAll()}" th:href="${'/journeys/' + journey.id}" th:text="${journey.name}"></a>
        </li>
    </ul>

    <hr/>

    <!--Create a new journey (only if User is signed in)-->
    <form sec:authorize="authenticated" id="createForm" action="/journeys" method="post" class="form-inline" th:object="${journeyForm}">
        <h2 th:text="#{newjourney}"></h2>
        <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
            <input name="name" type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" th:text="#{create}"></button>
        </div>
        <div class="form-group">
            <span class="text-danger" th:errors="*{name}"/>
        </div>
    </form>

    <!--Change language functionality / drop down menu-->
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="de" th:text="#{lang.de}"></option>
    </select>

</div>
</body>
</html>