<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

    <div class="page-header">
        <h1 th:text="${'Reise ' + journey.name}"></h1>
        <form th:action="${'/journeys/' + journey.id + '/delete'}" method="post" class="form">
            <button type="submit" class="btn btn-danger">Löschen</button>
        </form>
    </div>

    <form th:action="${'/journeys/' + journey.id}" method="post" th:object="${journeyForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
            <label>Neuer Reisename</label>
            <input name="name" type="text" class="form-control" th:field="*{name}"/>
            <span class="text-danger" th:errors="*{name}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ändern</button>
        </div>
    </form>

    <table th:if="${!journey.stages.empty}" class="table">
        <tr>
            <th>Etappe</th>
            <th>Kilometer</th>
            <!-- optional einfügen (auch unten)-->
            <th>Notizen</th>
        </tr>
        <tr th:each="stage : ${journey.stages}">
            <td th:text="${stage.name}"></td>
            <td th:text="${#numbers.formatDecimal(stage.kilometer, 1, 1)}"></td>
            <td th:text="${stage.notes}"></td>
        </tr>
    </table>

    <hr/>

    <div>
        <h2>Neue Etappe</h2>
        <form th:action="${'/journeys/' + journey.id + '/stages'}" method="post" th:object="${journeyStageForm}">
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Kilometer</label>
                <input name="kilometer" th:field="*{kilometer}" type="number" min="0" step="0.1" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Notizen</label>
                <input name="notes" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Eintragen</button>
            </div>
        </form>
    </div>

    <hr/>
    <p class="small">
        <a href="/journeys/">Index</a>
    </p>
</div>
</body>
</html>