<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>

    <!--JS for open "New journey name" text field on click and validation if the user clicks on delete-->
    <script>

window.onload = function() {

    var arrow = document.querySelector("span.glyphicon.glyphicon-arrow-down");

    arrow.onclick = function() {
        var inputName = document.querySelector("input#name");
        inputName.style.display = "block";
    }

    var deleteForm = document.getElementById("deleteForm")

    deleteForm.addEventListener("submit", function(event) {
        if (confirm("Are you sure you want to delete this journey?") === false) {
            event.preventDefault();
        }
    });
};

    </script>

    <!--CSS-->
    <style>

 .glyphicon {
     cursor: pointer;
     margin-left: 0.5em;
}
 input[type="checkbox"] {
     position: static!important;
     margin-left: 0!important;
}
 #modal {
     background: white;
}
 hr {
     border: 2px solid white;
}

    </style>
</head>

<body>

<div layout:fragment="content">
    <!--Delete journey button (Only if current User is the owner)-->
    <div class="page-header">
        <h1 th:text="${journey.name} + ' ' + #{thejourney}"></h1>
        <form th:if="${journey.ownedByCurrentUser}" th:action="${'/journeys/' + journey.id + '/delete'}" method="post" class="form" id="deleteForm">
            <button th:text="#{todelete}" type="submit" class="btn btn-danger"></button>
        </form>
    </div>

    <!--Change journey name or make/unmake it public (Only if current User is the owner)-->
    <form th:if="${journey.ownedByCurrentUser}" th:action="${'/journeys/' + journey.id}" method="post" th:object="${journeyForm}" id="changeForm2">
        <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
            <label th:text="#{newname}"></label><span class="glyphicon glyphicon-arrow-down"></span>
            <input name="name" type="text" class="form-control" th:field="*{name}" style="display:none;"/>
            <span class="text-danger" th:errors="*{name}"/>
        </div>
        <div class="form-group">
            <label th:text="#{description}"></label>
            <textarea name="description" type="text" class="form-control" th:field="*{description}"></textarea>
            <label class="text-danger" th:errors="*{description}"/>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" name="forAll" onchange="journey.isForAll()" th:checked="${journey.forAll}">
            <label th:text="#{makepublic}"></label>
        </div>
        <!--User has to press the Submit button to commit changes-->
        <div class="form-group">
            <button th:text="#{change}" type="submit" class="btn btn-primary"></button>
        </div>
    </form>

    <!--Show description if journey is not owned by the current User-->
    <div th:if="${!journey.ownedByCurrentUser}">
        <label th:text="#{description}"></label>
        <p th:text="${journey.description}"></p>
    </div>

    <!--Show a list of all the stages (if there are any)-->
    <table th:if="${!journey.stages.empty}" class="table">
        <!--Show small table title (for design purposes only for the editor of the journey)-->
        <h2 th:if="${journey.ownedByCurrentUser}" th:text="#{stages}"></h2>
        <tr>
            <th th:text="#{nr}"></th>
            <th th:text="#{stagegoal}"></th>
            <th th:text="#{thekilometer}"></th>
            <th th:text="#{notes}"></th>
        </tr>
        <tr th:each="stage : ${journey.stages}">
            <td th:if="${stage.journey.getStages().indexOf(stage) != 0}" th:text="${stage.journey.getStages().indexOf(stage)}"></td>
            <td th:if="${stage.journey.getStages().indexOf(stage) == 0}" th:text="#{start}"></td>
            <td th:text="${stage.name}"></td>
            <!--If kilometer is empty (starting point), do not show any number-->
            <td th:if="${stage.kilometer > 0}" th:text="${#numbers.formatDecimal(stage.kilometer, 1, 1)}"></td>
            <td th:if="${stage.kilometer == 0}"></td>
            <td th:text="${stage.notes}"></td>
            <!--Link to the edit stage page (only if current User is the owner)-->
            <td><a th:if="${journey.ownedByCurrentUser}" th:href="${'/stages/' + stage.id}" th:text="#{edit}"></a></td>
        </tr>
    </table>

    <hr th:if="${journey.ownedByCurrentUser}">

    <div>
        <!--Add the first stage (only if the current User is the owner and if there are no other stages yet)-->
        <form th:if="${journey.ownedByCurrentUser && journey.getStages().isEmpty()}" th:action="${'/journeys/' + journey.id + '/firststage'}" method="post" th:object="${firstJourneyStageForm}">
            <h2 th:text="#{firststage}"></h2>
            <div class="form-group">
                <label th:text="#{starting}"></label>
                <input name="name" type="text" class="form-control"/>
                <label class="text-danger" th:errors="*{name}"/>
            </div>
            <div class="form-group">
                <label th:text="#{notesoptional}"></label>
                <input name="notes" type="text" class="form-control"/>
                <label class="text-danger" th:errors="*{notes}"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
            </div>
        </form>
        <!--Add a new stage (only if the current User is the owner and if there are other stages already)-->
       <form th:if="${journey.ownedByCurrentUser && !journey.getStages().isEmpty()}" th:action="${'/journeys/' + journey.id + '/stages'}" method="post" th:object="${journeyStageForm}">
            <h2 th:text="#{newstage}"></h2>
            <div class="form-group">
                <label th:text="#{stagegoal}"></label>
                <input name="name" type="text" class="form-control" />
                <label class="text-danger" th:errors="*{name}"/>
            </div>
            <div class="form-group">
                <label th:text="#{thekilometer}"></label>
                <input name="kilometer" type="number" step="0.1" class="form-control"/>
                <label class="text-danger" th:errors="*{kilometer}"/>
            </div>
            <div class="form-group">
                <label th:text="#{notesoptional}"></label>
                <input name="notes" type="text" class="form-control" />
                <label class="text-danger" th:errors="*{notes}"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
            </div>
        </form>
    </div>

    <hr>
    <!--Link back to the index / start page-->
    <p class="small">
        <a href="/journeys/" th:text="#{backtoindex}"></a>
    </p>
</div>

</body>
</html>