<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<head></head>
<div layout:fragment="content">
    <!--Show page header-->
    <div class="page-header">
        <h1 th:text="#{registerhead}"></h1>
    </div>

    <form th:action="@{/registration}" method="post" class="form-horizontal form-registration" th:object="${registerForm}">
        <!--If there is any error with the input, show registration error message-->
        <div th:if="${#fields.hasErrors('*')}" class="col-sm-offset-2 col-sm-10 text-danger">
            <strong th:text="#{registererror}"></strong>
        </div>

        <!--Sign up form-->
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label" th:text="#{username}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="name" th:field="*{name}"/>
                <label class="text-danger" th:if="${usernameExists}" th:text="#{validation.username.taken}"/>
                <label class="text-danger" th:errors="*{name}"/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label" th:field="*{password}" th:text="#{thepassword}"></label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password"/>
                <label class="text-danger" th:errors="*{password}"/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{signup}"></button>
            </div>
        </div>
    </form>

</div>
</body>
</html>